<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nksexample.newsstrike">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsStrike">

        <activity
            android:name=".WebViewActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".FavListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FavListActivity" />
        </activity>
        <activity
            android:name=".FavListActivity"
            android:configChanges="uiMode"
            android:label="Favourite Lists">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FavListActivity" />
        </activity>
        <activity
            android:name=".SearchQueryActivity"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchQueryActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchQueryActivity" />
        </activity>
        <activity
            android:name=".NewsDetailActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NewsStrike.NoActionBar">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="Signup"
            android:parentActivityName=".LoginActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/noAnimTheme">

            <!-- The meta-data tag is required if you support API level 15 and lower -->

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="uiMode"
            android:label="Settings"
            android:theme="@style/noAnimTheme">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="uiMode"
            android:label="Feedback">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:configChanges="uiMode"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchQueryActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:theme="@style/SplashScreen"
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>